<h1>Вопрос:</h1>
<p>
  <%= @question.body %>
  <td>
    <%= link_to 'Редактировать', edit_question_path(@question) %> |
    <%= button_to 'Удалить', question_path(@question), method: :delete, data: { confirm: 'Вы уверены?' } %>
  </td>
</p>
<%= link_to 'Назад к тесту', test_path(@question.test) %>
