@import "~bootstrap/scss/bootstrap";

.table-centered td,
.table-centered th {
  text-align: center;
}

.answer-group {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-check {
  width: 300px;
}
