<p>Здравствуйте, <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Мы связываемся с вами, чтобы уведомить вас об изменении вашего адреса электронной <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Мы связываемся с вами, чтобы уведомить вас о том, что ваш адрес электронной почты был изменён на <%= @resource.email %>.</p>
<% end %>
