<h1>Тест: <%= @test.title %></h1>

<h2>Вопросы:</h2>

<table>
  <tr>
    <th>№</th>
    <th>Текст вопроса</th>
    <th>Действия</th>
  </tr>

  <%= render partial: 'questions/question', collection: @questions_with_index, as: :question_with_index %>
</table>

<%= link_to 'Создать новый вопрос', new_test_question_path(@test) %>
<%= link_to 'Назад ко всем тестам', tests_path %>
