<footer>
  <p>&copy; <%= current_year %> Автор: Дмитрий</p>
  <p>Проект: <%= github_url('DAndreevskikh', 'Test_Guru') %></p>
  <p>TestGuru — приложение для создания, управления и прохождения различных тестов.</p>
  <p><a href="https://thinknetica.com">Учебный проект в онлайн-школе Thinknetica</a></p>
</footer>
