<footer class="d-flex justify-content-center align-items-center bg-light fixed-bottom">
  <div class="container text-center py-0">
    <p>&copy; <%= current_year %> Автор: Дмитрий</p>
    <p>Проект: <%= github_url('DAndreevskikh', 'Test_Guru') %></p>
    <p>TestGuru — приложение для создания, управления и прохождения различных тестов.</p>
    <p><%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'https://thinknetica.com', target: '_blank', rel: 'nofollow noopener' %></p>
  </div>
</footer>
